/**********************************
* CSS RESET
**********************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**********************************
* VARIABLES
**********************************/
/**********************************
* GLOBAL SETUP
**********************************/
html {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed';
  background-color: #fff; }

/**********************************
* BUTTONS
**********************************/
.btn {
  border: 1px solid #660000;
  font-family: inherit;
  transition: all .1s ease; }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: scale(0.95); }
  .btn-num {
    height: 4.6rem; }
  .btn-ops {
    border-radius: 2px; }
  .btn-theme {
    height: 4.6rem; }
    .btn-theme:not(:last-child) {
      margin-bottom: 1rem; }

/**********************************
* CONTAINER STYLES
**********************************/
.container {
  padding: 3.4rem 1.1rem 5rem 1.1rem;
  background-color: #990000;
  border: 1px solid #660000;
  border-radius: 3px;
  box-shadow: 0 2.8rem 10rem rgba(0, 0, 0, 0.4); }

/**********************************
* INPUT
**********************************/
.calc__input {
  width: 75%;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: right; }

.calc__input-field {
  width: 100%;
  font-size: 2.8rem;
  font-family: inherit; }

/**********************************
* RESULT STYLES
**********************************/
.calc__result {
  font-size: 5.5rem;
  padding: 1rem 0;
  margin-bottom: 1.6rem; }

/**********************************
* NUMPAD
**********************************/
.calc__pad {
  display: flex;
  padding: 1.1rem;
  background-color: #660000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.calc__num {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap; }
  .calc__num * {
    flex: 1 0 33%; }

.calc__ops {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%; }

/**********************************
* LAYOUT
**********************************/
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; }

.container {
  display: flex; }

.calc {
  width: 225px;
  margin: 5rem 2rem; }

.header {
  widows: inherit;
  display: flex;
  flex-flow: column;
  align-items: flex-end; }

.main {
  display: flex;
  justify-content: flex-end; }

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.themes {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  margin-right: 2.6rem; }

.theme-default {
  color: black; }
  .theme-default .container {
    background-color: #990000;
    color: #eddcdc; }
  .theme-default .btn {
    background-color: #990000;
    color: inherit; }
    .theme-default .btn:hover {
      background-color: #7c0101; }
    .theme-default .btn:active {
      transform: scale(0.95);
      background-color: #ff1e1e; }
  .theme-default .calc__input {
    background-color: #990000; }
  .theme-default .calc__pad {
    background-color: #660000; }

.theme-light {
  color: black; }
  .theme-light .container {
    background-color: #c8f7f5;
    color: black;
    color: #3c56b2;
    border: 1px solid #3c56b2;
    border-radius: 6px; }
  .theme-light .btn {
    background-color: #c8f7f5;
    color: inherit;
    border: 1px solid #3c56b2;
    border-radius: 6px; }
    .theme-light .btn:hover {
      background-color: #aae8ff; }
    .theme-light .btn:active {
      transform: scale(0.95);
      background-color: #5a7b87; }
  .theme-light .calc__input {
    background-color: #c8f7f5; }
  .theme-light .calc__pad {
    background-color: #3c56b2;
    border-radius: 6px;
    box-shadow: 0.75rem 2rem 3rem rgba(0, 0, 0, 0.65); }

.theme-cherry {
  color: black; }
  .theme-cherry .container {
    background-color: red;
    color: black; }
  .theme-cherry .btn {
    background-color: red;
    color: inherit; }
    .theme-cherry .btn:hover {
      background-color: black; }
    .theme-cherry .btn:active {
      transform: scale(0.95);
      background-color: black; }
  .theme-cherry .calc__input {
    background-color: red; }
  .theme-cherry .calc__pad {
    background-color: black; }
