/**********************************
* BUTTONS
**********************************/

.btn {
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.95);
  }

  border: $border-primary;
  font-family: inherit;
  transition: all .1s ease;
  
  &-num {
    height: 4.6rem;
  }
  
  &-ops {
    border-radius: 2px;
  }
  
  &-theme {
    height: 4.6rem;
    
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
