/**********************************
* VARIABLES
**********************************/

// COLORS

// DEFAULT THEME
$color-primary-d: #990000;
$color-secondary-d: #cc0000;
$color-secondary-dark-d: #7c0101;
$color-secondary-light-d: #ff1e1e;
$color-tertiary-d: #660000;


$color-white-1-d: #eddcdc;

// LIGHT THEME
$color-primary-l: #c8f7f5;
$color-secondary-l: #79a5b5;
$color-secondary-dark-l: #aae8ff;
$color-secondary-light-l: #5a7b87;
$color-tertiary-l: #3c56b2;

// BORDERS: 
$border-primary: 1px solid $color-tertiary-d;